<section class="inscription-section">
  <h2>Connexion</h2>

  <form class="form-container" [formGroup]="loginForm" (ngSubmit)="soumettre()">
    <div class="form-line">
      <div class="form__group">
        <label>Email <span class="required">*</span></label>
        <input
          type="email"
          name="email"
          placeholder="email@exemple.com"
          formControlName="email"
        />
      </div>
    </div>
    
    @if (email.touched && email.invalid) { 
      @if (email.hasError('required')) { 
        <small class="erreur">L'email est requis.</small> 
      } @else if (email.hasError('email')) { 
        <small class="erreur">Le format de l'email est invalide.</small> 
      } 
    }

    <div class="form-line">
      <div class="form__group">
        <label>Mot de passe <span class="required">*</span></label>
        <input
          type="password"
          name="password"
          placeholder="Mot de passe"
          formControlName="password"
        />
      </div>
    </div>

    @if (password.touched && password.invalid) { 
      @if (password.hasError('required')) { 
        <small class="erreur">Le mot de passe est requis.</small> 
      } @else if (password.hasError('minlength')) { 
        <small class="erreur">6 caractères minimum.</small> 
      } 
    } 

    <button type="submit" class="btn" [disabled]="loginForm.invalid">
      Se connecter
    </button>
  </form>
</section>